@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/fonts/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/fonts/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}